/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face {
    font-family: montserrat;
    src: url(../asset/font/Montserrat-Regular.ttf);
}

* {
    font-family: montserrat;
    scroll-behavior: smooth;
}


/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #9CA3AF;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #FBBB00;
    border-radius: 10px;
}

/* 

Root 

*/

:root {
    --blue-1: #3b72ff;
    --blue-2: #040505;
    --orange-1: #FBBB00;
    --orange-2: #fdefc5;
    --black-1: #3a3a3a;
    --black-2: #7a7a7a;
    --black-3: #e1e8eb;
    --white-1: #fff;

    --red-1: #F44336;
    --green-1: #28B446;

    --dark-1: #0c131b;
    --dark-2: #222948;
}

/* 

CSS Customization 

*/

.color-blue-1 {
    color: var(--blue-1);
}

.color-red-1 {
    color: var(--red-1);
}

.color-orange-1 {
    color: var(--orange-1);
}

.color-black-1 {
    color: var(--black-1);
}

.color-green-1 {
    color: var(--green-1);
}

.bg-white-1 {
    background-color: var(--white-1);
}

.bg-blue-1 {
    background-color: var(--blue-1);
}

.bg-orange-1 {
    background-color: var(--orange-1);
}

.bg-orange-2 {
    background-color: var(--orange-2);
}

.bg-green-1 {
    background-color: var(--green-1);
}

/* 

        Secondary Color 

        */

.color-black-2 {
    color: var(--black-2);
}

.bg-black-2 {
    background-color: var(--black-2);
}

.bg-black-3 {
    background-color: var(--black-3);
}

.bg-green-1-10 {
    background-color: rgba(40, 180, 70, 0.1);
}

.bg-red-1-10 {
    background-color: rgba(244, 67, 54, 0.1)
}

.bg-blue-1-10 {
    background-color: rgba(59, 114, 255, 0.1)
}

.bg-blue-2 {
    background-color: #ebf0ff;
}

.bg-blue-3 {
    background-color: #abc2fc;
}

.bg-red-1 {
    background-color: var(--red-1);
}

.bg-brown-1-10 {
    background-color: rgba(189, 147, 84, 0.1)
}

.bg-orange-1-10 {
    background-color: rgba(251, 187, 0, 0.1)
}

.bg-black-2-10 {
    background-color: rgba(122, 122, 122, 0.822);
}

.bg-dark-1 {
    background-color: var(--dark-2);
}

.shadow-black {
    -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.border-left-orange-1 {
    border-left: 5px solid var(--orange-1);
}

/* 

Accessories 

*/

.bg-custom{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1004%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(9%2c 35%2c 99%2c 1)'%3e%3c/rect%3e%3cpath d='M1109.98 380.25L1161.69 380.25L1161.69 388.94L1109.98 388.94z' fill='rgba(255%2c 31%2c 90%2c 1)'%3e%3c/path%3e%3cpath d='M393.06 359.5L435.99 359.5L435.99 400.48L393.06 400.48z' stroke='rgba(233%2c 59%2c 129%2c 1)'%3e%3c/path%3e%3cpath d='M431.84 402.43L472.8 402.43L472.8 405.46L431.84 405.46z' stroke='rgba(255%2c 242%2c 0%2c 1)'%3e%3c/path%3e%3cpath d='M1002.72 41.35 a20.7 20.7 0 1 0 41.4 0 a20.7 20.7 0 1 0 -41.4 0z' stroke='rgba(255%2c 242%2c 0%2c 1)'%3e%3c/path%3e%3cpath d='M1309.46 123.66a53.61 53.61 0 1 0-83 67.87z' fill='rgba(255%2c 31%2c 90%2c 1)'%3e%3c/path%3e%3cpath d='M232.45 321L287.45 321L287.45 376L232.45 376z' stroke='rgba(199%2c 255%2c 216%2c 1)'%3e%3c/path%3e%3cpath d='M816.9 469.81 a5.27 5.27 0 1 0 10.54 0 a5.27 5.27 0 1 0 -10.54 0z' fill='rgba(199%2c 255%2c 216%2c 1)'%3e%3c/path%3e%3cpath d='M1432.88 9.17L1441.97 9.17L1441.97 33.19L1432.88 33.19z' fill='rgba(199%2c 255%2c 216%2c 1)'%3e%3c/path%3e%3cpath d='M382.46 384.9L408.37 384.9L408.37 410.81L382.46 410.81z' fill='rgba(255%2c 31%2c 90%2c 1)'%3e%3c/path%3e%3cpath d='M931.35 88.54L975.27 88.54L975.27 132.46L931.35 132.46z' fill='rgba(255%2c 242%2c 0%2c 1)'%3e%3c/path%3e%3cpath d='M131.47 125.66L175 125.66L175 157.86L131.47 157.86z' stroke='rgba(233%2c 59%2c 129%2c 1)'%3e%3c/path%3e%3cpath d='M128.09 511.39 a13.76 13.76 0 1 0 27.52 0 a13.76 13.76 0 1 0 -27.52 0z' fill='rgba(199%2c 255%2c 216%2c 1)'%3e%3c/path%3e%3cpath d='M683.18-27.48a38.58 38.58 0 1 0-23.47 73.51z' fill='rgba(255%2c 31%2c 90%2c 1)'%3e%3c/path%3e%3cpath d='M133.22 506L151.89 506L151.89 556.31L133.22 556.31z' fill='rgba(255%2c 242%2c 0%2c 1)'%3e%3c/path%3e%3cpath d='M739.42 376.4L748.85 376.4L748.85 385.83L739.42 385.83z' stroke='rgba(199%2c 255%2c 216%2c 1)'%3e%3c/path%3e%3cpath d='M821.42 128.87 a3.09 3.09 0 1 0 6.18 0 a3.09 3.09 0 1 0 -6.18 0z' stroke='rgba(233%2c 59%2c 129%2c 1)'%3e%3c/path%3e%3cpath d='M122.37 407.16 a30.46 30.46 0 1 0 60.92 0 a30.46 30.46 0 1 0 -60.92 0z' stroke='rgba(255%2c 31%2c 90%2c 1)'%3e%3c/path%3e%3cpath d='M453.9 136.76a52.59 52.59 0 1 0 105.12-3.32z' fill='rgba(255%2c 31%2c 90%2c 1)'%3e%3c/path%3e%3cpath d='M-24.25 176.76 a34.68 34.68 0 1 0 69.36 0 a34.68 34.68 0 1 0 -69.36 0z' stroke='rgba(199%2c 255%2c 216%2c 1)'%3e%3c/path%3e%3cpath d='M1005.24 39.71a5.85 5.85 0 1 0-8.83 7.67z' fill='rgba(233%2c 59%2c 129%2c 1)'%3e%3c/path%3e%3cpath d='M487.7 511.95 a48.08 48.08 0 1 0 96.16 0 a48.08 48.08 0 1 0 -96.16 0z' stroke='rgba(255%2c 31%2c 90%2c 1)'%3e%3c/path%3e%3cpath d='M809.6 272.2 a43.43 43.43 0 1 0 86.86 0 a43.43 43.43 0 1 0 -86.86 0z' stroke='rgba(199%2c 255%2c 216%2c 1)'%3e%3c/path%3e%3cpath d='M966.75 402.24L996.1 402.24L996.1 431.59L966.75 431.59z' stroke='rgba(199%2c 255%2c 216%2c 1)'%3e%3c/path%3e%3cpath d='M667.57 475.88a30.87 30.87 0 1 0-1.11-61.73z' stroke='rgba(199%2c 255%2c 216%2c 1)'%3e%3c/path%3e%3cpath d='M230.61 551.18L235.92 551.18L235.92 556.49L230.61 556.49z' fill='rgba(255%2c 242%2c 0%2c 1)'%3e%3c/path%3e%3cpath d='M856.86 169.23L912.38 169.23L912.38 185.35L856.86 185.35z' fill='rgba(233%2c 59%2c 129%2c 1)'%3e%3c/path%3e%3cpath d='M1479.68 178.49a45.81 45.81 0 1 0-90.73-12.68z' stroke='rgba(199%2c 255%2c 216%2c 1)'%3e%3c/path%3e%3cpath d='M1363.16 420.91L1407.32 420.91L1407.32 465.07L1363.16 465.07z' stroke='rgba(199%2c 255%2c 216%2c 1)'%3e%3c/path%3e%3cpath d='M239.04 366.86L267.39 366.86L267.39 376.03L239.04 376.03z' fill='rgba(233%2c 59%2c 129%2c 1)'%3e%3c/path%3e%3cpath d='M1083.26 256.76a50.99 50.99 0 1 0-14.59-100.93z' fill='rgba(233%2c 59%2c 129%2c 1)'%3e%3c/path%3e%3cpath d='M1131.31 398.42a13.57 13.57 0 1 0-21.69 16.32z' fill='rgba(255%2c 31%2c 90%2c 1)'%3e%3c/path%3e%3cpath d='M858.33 410.47a12.04 12.04 0 1 0-15.86 18.12z' stroke='rgba(255%2c 31%2c 90%2c 1)'%3e%3c/path%3e%3cpath d='M281.87 98.17 a30.26 30.26 0 1 0 60.52 0 a30.26 30.26 0 1 0 -60.52 0z' fill='rgba(199%2c 255%2c 216%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1004'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.darken-overlay div {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.minor {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.feedback {
    position: fixed;
    bottom: 50px;
    left: 50px;
}

.underline_anim::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #3b72ff;
    -webkit-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s;
}

.underline_anim:hover::after {
    width: 100%;
    -webkit-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s;
}

#darkMode {
    background: transparent url("../asset/icon/moon.svg") no-repeat center;
    background-size: 30px 30px;
    width: 45px;
    height: 45px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    border: none;
    border-radius: 50%;
    -webkit-transition: background-color 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
}

.tab-header li {
    padding: .5rem 1rem;
    background-color: white;
    border-radius: .5rem;
    cursor: pointer;
    color: var(--black-1);
}

.tab-header li.active {
    background-color: var(--blue-1);
    color: white;
    padding: .5rem 1rem;
    border-radius: .5rem;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #222948;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 12px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 50px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 50px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 50px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 50px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 50px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

.accordion__button {
    border-bottom: 1px solid rgb(209, 213, 219);
    padding: 20px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    font-weight: 600;
}

.accordion__button span {
    height: 30px;
    width: 30px;
}

.accordion__button:focus {
    outline: none;
    font-weight: 600;
    color: var(--blue-1);
}

.accordion__content {
    width: 100%;
    padding: 5px 20px;
    opacity: 0;
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    height: 20px;
    border-top: 0;
}

.accordion__content.active {
    height: auto;
    opacity: 1;
    padding: 20px;
}

.image-preview:hover {
    -webkit-box-shadow: 0 40px 75px -12px rgb(0 0 0 / 50%);
            box-shadow: 0 40px 75px -12px rgb(0 0 0 / 50%);
}

.CodeMirror {
    resize: vertical;
    height: 400px;
}

.output {
    content: ('lorem');
    height: 400px;
}

.cm-matchhighlight {
    background: rgba(187, 187, 187, 0.192) !important
}


@-webkit-keyframes spaceboots {
    0% {
        -webkit-transform: translate(2px, 1px) rotate(0deg);
                transform: translate(2px, 1px) rotate(0deg);
    }

    10% {
        -webkit-transform: translate(-1px, -2px) rotate(-1deg);
                transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        -webkit-transform: translate(-3px, 0px) rotate(1deg);
                transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        -webkit-transform: translate(0px, 2px) rotate(0deg);
                transform: translate(0px, 2px) rotate(0deg);
    }

    40% {
        -webkit-transform: translate(1px, -1px) rotate(1deg);
                transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        -webkit-transform: translate(-1px, 2px) rotate(-1deg);
                transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        -webkit-transform: translate(-3px, 1px) rotate(0deg);
                transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        -webkit-transform: translate(2px, 1px) rotate(-1deg);
                transform: translate(2px, 1px) rotate(-1deg);
    }

    80% {
        -webkit-transform: translate(-1px, -1px) rotate(1deg);
                transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        -webkit-transform: translate(2px, 2px) rotate(0deg);
                transform: translate(2px, 2px) rotate(0deg);
    }

    100% {
        -webkit-transform: translate(1px, -2px) rotate(-1deg);
                transform: translate(1px, -2px) rotate(-1deg);
    }
}


@keyframes spaceboots {
    0% {
        -webkit-transform: translate(2px, 1px) rotate(0deg);
                transform: translate(2px, 1px) rotate(0deg);
    }

    10% {
        -webkit-transform: translate(-1px, -2px) rotate(-1deg);
                transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        -webkit-transform: translate(-3px, 0px) rotate(1deg);
                transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        -webkit-transform: translate(0px, 2px) rotate(0deg);
                transform: translate(0px, 2px) rotate(0deg);
    }

    40% {
        -webkit-transform: translate(1px, -1px) rotate(1deg);
                transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        -webkit-transform: translate(-1px, 2px) rotate(-1deg);
                transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        -webkit-transform: translate(-3px, 1px) rotate(0deg);
                transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        -webkit-transform: translate(2px, 1px) rotate(-1deg);
                transform: translate(2px, 1px) rotate(-1deg);
    }

    80% {
        -webkit-transform: translate(-1px, -1px) rotate(1deg);
                transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        -webkit-transform: translate(2px, 2px) rotate(0deg);
                transform: translate(2px, 2px) rotate(0deg);
    }

    100% {
        -webkit-transform: translate(1px, -2px) rotate(-1deg);
                transform: translate(1px, -2px) rotate(-1deg);
    }
}

.shake:hover,
.shake:focus {
    -webkit-animation-name: spaceboots;
            animation-name: spaceboots;
    -webkit-animation-duration: 0.8s;
            animation-duration: 0.8s;
    -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}

.animate1 {
    -webkit-animation: stretch-bounce1 1s ease-in-out infinite 0ms;
            animation: stretch-bounce1 1s ease-in-out infinite 0ms;
}

@-webkit-keyframes stretch-bounce1 {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
    }

    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes stretch-bounce1 {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
    }

    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

.animate2 {
    -webkit-animation: stretch-bounce2 1s ease-in-out infinite 400ms;
            animation: stretch-bounce2 1s ease-in-out infinite 400ms;
}

@-webkit-keyframes stretch-bounce2 {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
    }

    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes stretch-bounce2 {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
    }

    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

.animate3 {
    -webkit-animation: stretch-bounce3 1s ease-in-out infinite 600ms;
            animation: stretch-bounce3 1s ease-in-out infinite 600ms;
}

@-webkit-keyframes stretch-bounce3 {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
    }

    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes stretch-bounce3 {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
    }

    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

.animate4 {
    -webkit-animation: stretch-bounce4 1s ease-in-out infinite 800ms;
            animation: stretch-bounce4 1s ease-in-out infinite 800ms;
}

@-webkit-keyframes stretch-bounce4 {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
    }

    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes stretch-bounce4 {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
    }

    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

.animate5 {
    -webkit-animation: stretch-bounce5 1s ease-in-out infinite 1s;
            animation: stretch-bounce5 1s ease-in-out infinite 1s;
}

@-webkit-keyframes stretch-bounce5 {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
    }

    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes stretch-bounce5 {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
    }

    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated:hover {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes tada {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    10%,
    20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }

    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes tada {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    10%,
    20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        -ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }

    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.tada {
    -webkit-animation-name: tada;
    animation-name: tada;
}

.blob-gradient {
    fill: url(#radial-gradient) rgb(255, 255, 255);
}

.wheel {
    position: absolute;
    bottom: 0;
    left: -25%;
    height: 50vh;
    width: 50vw;
}

.ribbon {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: -40px;
    margin-top: 25px;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Safari prior 9.0 */
    transform: rotate(45deg);
    /* Standard syntax */
}

.accordion-list .accordion-box:last-child {
    margin-bottom: 5px;
}

.accordion-label {
    position: relative;
    cursor: pointer;
    display: block;
    padding: 10px 50px 10px 10px;
    color: #fff;
    background-color: #222;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
}

.accordion-inner {
    background-color: #eee;
    padding: 15px;
}

.accordion-list.actived>.accordion-content {
    max-height: none;
}

.acd-sub {
    padding: 10px;
}

.acd-arrow {
    position: absolute;
    right: 15px;
    top: 16px;
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 8px 8px 0px 8px;
    border-top-color: #fff;
}

.accordion-list.actived>.accordion-label>.acd-arrow {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
        transform: rotate(180deg);
}

.acd-transition>.accordion-label>.acd-arrow {
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    position: absolute;
    right: 0;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.truncate2{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.truncate3{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.anchor-showmore{
    color: #3b72ff;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.shadow-4xl{
    --tw-shadow: 0 30px 50px 10px rgba(0, 0, 0, 0.1);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.hover-translateY, .hover-translateX{
    transition: 0.3s;
}

.hover-translateY:hover{
    transform: translate(0, -25px);
}

.hover-translateX:hover{
    transform: translate(25px, 0);
}
/* 

Navbar 

*/

.navbar_active,
.logo:hover {
    color: #3b72ff;
}

.help:hover {
    color: #3b72ff;
}

.dropdown-tutorial div{
    width: 350px;
    padding: .5rem;
}

.dropdown-user p{
    padding: 0.5rem;
}

.course:hover .course-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.login:hover {
    background-color: #0250bd;
    -webkit-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
}

/* 

Login page, Register Page 

*/

.appp .particles {
    position: fixed;
    top: 0;
}
.appp .particles .particle {
    position: absolute;
    -webkit-transition: all 5s ease-out;
    -o-transition: all 5s ease-out;
    transition: all 5s ease-out;
}

.login-container,
.reset-password-container,
.register-container,
.change-password-container {
    background-image: -webkit-gradient(linear, left top, right bottom, from(#3417aa), color-stop(#383abf), color-stop(#4057d1), color-stop(#4d72e2), to(#5f8cf1));
    background-image: -o-linear-gradient(left top, #3417aa, #383abf, #4057d1, #4d72e2, #5f8cf1);
    background-image: linear-gradient(to right bottom, #3417aa, #383abf, #4057d1, #4d72e2, #5f8cf1);
}

.login-box, .change-password-box, .reset-password-box{
    width: 450px;
}

.register-box{
    width: 500px;
}

.login-box input[type="text"],
.login-box input[type="password"],
.register-box input[type="text"],
.register-box input[type="password"],
.register-box select,
.change-password-box input[type="text"],
.change-password-box input[type="password"],
.reset-password-box input[type="text"],
.reset-password-box input[type="password"]{
    width: 100%;
    padding: .5rem 1rem;
    border-radius: 6px;
    outline: none;
}

.login-box input:focus,
.register-box input:focus,
.change-password-box input:focus,
.reset-password-box input:focus{
    background-color: #d8e7ff;
}

.register-box select {
    padding: .4rem 1rem;
}

.login-box input::-webkit-input-placeholder,
.register-box input::-webkit-input-placeholder {
    font-size: .875rem;
}

.login-box input::-moz-placeholder,
.register-box input::-moz-placeholder {
    font-size: .875rem;
}

.login-box input:-ms-input-placeholder,
.register-box input:-ms-input-placeholder {
    font-size: .875rem;
}

.login-box input::-ms-input-placeholder,
.register-box input::-ms-input-placeholder {
    font-size: .875rem;
}

.login-box input::-webkit-input-placeholder, .register-box input::-webkit-input-placeholder {
    font-size: .875rem;
}

.login-box input::-moz-placeholder, .register-box input::-moz-placeholder {
    font-size: .875rem;
}

.login-box input:-ms-input-placeholder, .register-box input:-ms-input-placeholder {
    font-size: .875rem;
}

.login-box input::-ms-input-placeholder, .register-box input::-ms-input-placeholder {
    font-size: .875rem;
}

.login-box input::placeholder,
.register-box input::placeholder {
    font-size: .875rem;
}

.password-hint-box {
    display: none;
}

.info:hover+.password-hint-box {
    display: block;
}

/* 

Profile 

*/
.img-image-profile{
    width: 150px;
    height: 150px;
}

.profile-form input,
.profile-form select,
.profile-form textarea{
    background-color: white;
    padding: .375rem 1rem;
    border: 1.5px solid var(--black-3);
    border-radius: 6px;
    outline: none;
}

.table-profile tr td{
    padding: 0.875rem 0;
}

.table-profile tr td:first-child{
    padding-right: 15rem;
    font-size: 0.875rem;
    line-height: 1.25rem
}

/* 

History Purchase 

*/

.purchase-filter-btn:focus{
    background-color: var(--blue-1);
    color: white;
    outline: none;
}

/* 

History Purchase 

*/

.project-filter-btn:focus{
    background-color: var(--blue-1);
    color: white;
    outline: none;
}

/* 

Homepage 

*/

.vscode {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
}

.vscode:active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.change-text-anim::before {
    content: "";
    -webkit-animation: changeTextAnim infinite 17.5s;
    animation: changeTextAnim infinite 17.5s;
}

@-webkit-keyframes changeTextAnim {
    0% {
        content: "Gain invaluable skills for your future career in software development.";
    }

    14.5% {
        content: "Beautiful, well-designed courses that interactively teach you the basics and beyond.";
    }

    29% {
        content: "Learn the value of sharing knowledge and experiences among peers.";
    }

    43.5% {
        content: "Keep up with the latest app development tools and technology.";
    }

    58% {
        content: "If you are looking to kickstart your career, why not get ahead of the curve? Share your work with us and we’ll do the rest.";
    }

    72.5% {
        content: "Learning to code is more fun if you choose what you want to learn and make it interesting.";
    }

    87% {
        content: "Learn new skills through the certificate program and by meeting others who are training with you.";
    }

    100% {
        content: "Gain invaluable skills for your future career in software development.";
    }
}

@keyframes changeTextAnim {
    0% {
        content: "Gain invaluable skills for your future career in software development.";
    }

    14.5% {
        content: "Beautiful, well-designed courses that interactively teach you the basics and beyond.";
    }

    29% {
        content: "Learn the value of sharing knowledge and experiences among peers.";
    }

    43.5% {
        content: "Keep up with the latest app development tools and technology.";
    }

    58% {
        content: "If you are looking to kickstart your career, why not get ahead of the curve? Share your work with us and we’ll do the rest.";
    }

    72.5% {
        content: "Learning to code is more fun if you choose what you want to learn and make it interesting.";
    }

    87% {
        content: "Learn new skills through the certificate program and by meeting others who are training with you.";
    }

    100% {
        content: "Gain invaluable skills for your future career in software development.";
    }
}

.discord {
    background-image: url(../asset/photo/homepage/feature/Rectangle\ 103.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.popup-box{
    margin: 10px auto;
    height: 90%;
    background-color: white;
    overflow: auto;
}

/* 

Payment 

*/

.payment-table tr td {
    padding: .7rem 4rem;
}

.payment-table tr td:first-child {
    width: 500px;
}

.payment-table tr td:nth-child(2) {
    font-weight: 600;
}

.payment-confirm-container,
.register-popup-container,
.darkmode-container,
.rating-container {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
}

.darkmode-container {
    z-index: 100;
}

.payment-confirm-box,
.register-popup-box,
.darkmode-box {
    width: 500px;
    margin: 15% auto;
    background-color: white;
}

.register-popup-box, .popup-box {
    -webkit-animation: cssAnimation 300ms ease forwards;
    animation: cssAnimation 300ms ease forwards;
}


@-webkit-keyframes cssAnimation {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


@keyframes cssAnimation {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/* 

Course 

*/

.content-course p:not(.review p), .content-course .tinymce-topic-detail {
    margin-bottom: 20px;
}

.content-course a{
    color: var(--blue-1);
    text-decoration: underline;
}

.content-course li {
    margin-left: 25px;
}

.content-course ul{
    list-style-type: initial;
}

.content-course ol{
    list-style-type: decimal;
}

.content-course ul li span, .content-course ol li span{
    text-indent: 500px;
}

.rating-box {
    width: 500px;
    margin: 15% auto;
    background-color: white;
    z-index: 10;
}

.emoji {
    font-size: 4rem;
    -webkit-transform: scale(.5);
        -ms-transform: scale(.5);
            transform: scale(.5);
    text-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    -webkit-transition:
        text-shadow .2s ease-in-out,
        -webkit-transform .2s ease-in-out;
    transition:
        text-shadow .2s ease-in-out,
        -webkit-transform .2s ease-in-out;
    -o-transition:
        text-shadow .2s ease-in-out,
        transform .2s ease-in-out;
    transition:
        text-shadow .2s ease-in-out,
        transform .2s ease-in-out;
    transition:
        text-shadow .2s ease-in-out,
        transform .2s ease-in-out,
        -webkit-transform .2s ease-in-out;
}

.emoji:hover {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    text-shadow: 0 20px 20px rgba(0, 0, 0, .3);
}

.emoji--satisfy:before {
    content: '🥰';
}

.emoji--satisfy:hover:before {
    content: '😍';
}

.emoji--happy:before {
    content: '😀';
}

.emoji--happy:hover:before {
    content: '🤩';
}

.emoji--neutral:before {
    content: '😐 ';
}

.emoji--neutral:hover:before {
    content: '😑';
}

.emoji--sad:before {
    content: '😕';
}

.emoji--sad:hover:before {
    content: '☹️';
}

.emoji--crying:before {
    content: '😥';
}

.emoji--crying:hover:before {
    content: '😰';
}

/* 

Roadmap 

*/

.roadmap {
    border: 2rem solid white;
    border-radius: 1.5rem;
}

.roadmap-box div {
    width: 300px;
}

.swiper-button-prev-container,
.swiper-button-next-container {
    background-color: #FBBB00;
    color: white;
    border-radius: 50%;
}

.swiper-button-prev-container:hover,
.swiper-button-next-container:hover {
    border: 1px solid #0250bd;
    background-color: #0250bd;
}

.swiper-button-next {
    z-index: 10;
    position: fixed;
    top: 50%;
    right: 5%;
    -webkit-transform: translate(-5%, -50%);
    -ms-transform: translate(-5%, -50%);
    transform: translate(-5%, -50%);
}

.swiper-button-prev {
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 5%;
    -webkit-transform: translate(-5%, -50%);
    -ms-transform: translate(-5%, -50%);
    transform: translate(-5%, -50%);
}

/* 

Project 

*/

.projDetail img{
    width: 15rem;
    height: 8rem;
}

@media (min-width: 320px) {
    .projDetail img{
        width: 20rem;
        height: 15rem;
    }
}

@media (min-width: 768px) {
    .projDetail img{
        width: 40rem;
        height: 25rem;
    }
}

/* 

Pricing 

*/

.information p {
    width: 500px;
}

/* 

Tutorial 

*/


#tutorial-box {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1.2rem;
    border-radius: 6px;
    width: 400px;
    -webkit-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
    overflow: hidden;
}

#tutorial-box:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
    -webkit-box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
            box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    border-left: 4px solid #3b72ff;
}

.card:hover,
info {
    opacity: 1;
}

.category-btn {
    background-color: white;
    color: black;
    padding: 5px 20px;
    border-radius: 6px;
}

.sidebar-mobile-dropdown {
    display: none;
}

.sidebar-mobile ul li:hover .sidebar-mobile-dropdown {
    display: block;
}

.sidebar-mobile ul li {
    display: inline-block;
    position: relative;
}

.sidebar-mobile ul li:hover .sidebar-mobile-dropdown {
    display: block;
}

.sidebar-mobile-dropdown {
    display: none;
    width: 250px;
}

iframe {
    width: 360px;
    height: 200px;
}

@media screen and (min-width: 560px) {
    iframe {
        width: 660px;
        height: 350px;
    }
}

.swiper-pagination::-webkit-scrollbar {
    height: 5px;
}

.swiper-pagination p {
    cursor: pointer;
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #3b72ff;
    border-radius: .5rem;
    padding: .5rem 1rem;
}

.textarea {
    padding: 1rem;
    border: 1.5px solid var(--black-3);
    background-color: white;
    border-radius: 5px;
    outline: none;
    color: var(--black-1);
    display: block;
    width: 100%;
    overflow: hidden;
    min-height: 120px;
    line-height: 20px;
}

.textarea[contenteditable]:empty::before {
    content: "Add a discussion";
    color: gray;
}

.textarea:focus {
    border: 2px solid var(--blue-1);
}

.sidebar-tutorial div:hover p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* 

Challenge 

*/

.challenge-card{
    width: 400px;
}

.challenge-card img{
    width: 400px;
    height: 200px;
}

.project-tinymce a{
    color: var(--blue-1);
    text-decoration: underline;
}

.project-tinymce li {
    margin-left: 25px;
}

.project-tinymce ul{
    list-style-type: initial;
}

.project-tinymce ol{
    list-style-type: decimal;
}

.project-tinymce ul li span, .project-tinymce ol li span{
    text-indent: 500px;
}

.certificate-box div {
    padding: 1.25rem;
    border-radius: 0.75rem;
    -webkit-box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.certificate-box div:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    background-color: #3b72ff;
    color: white;
}

.certificate-form input,
.certificate-form button {
    width: 500px;
    padding: .375rem 1rem;
    border: 1.5px solid var(--black-3);
    border-radius: 10px;
    outline: none;
}

.certificate-form button {
    border: none;
}

.submit-box input,
.submit-box textarea,
.submit-box select,
.feedback-box input,
.feedback-box textarea,
.feedback-box select,
.job-box input,
.job-box textarea,
.job-box select,
.courseForm input,
.courseForm textarea,
.courseForm select,
.batchForm input,
.batchForm textarea,
.batchForm select {
    padding: .375rem 1rem;
    border: 1.5px solid var(--black-3);
    border-radius: 6px;
    outline: none;
}

.courseForm input:focus,
.courseForm textarea:focus,
.courseForm select:focus{
    border: 1.5px solid var(--blue-1);
}

.topik-form input:focus,
.topik-form textarea:focus,
.topik-form select:focus{
    border: 1.5px solid var(--blue-1);
}

.submit-box select,
.feedback-box select,
.job-box select,
.courseForm select {
    padding: .4rem 1rem;
}

.submit-box input::-webkit-input-placeholder,
.submit-box textarea::-webkit-input-placeholder,
.change-password-box ::-webkit-input-placeholder,
.reset-password-box ::-webkit-input-placeholder {
    font-size: .875rem;
}

.submit-box input::-moz-placeholder,
.submit-box textarea::-moz-placeholder {
    font-size: .875rem;
}

.submit-box input:-ms-input-placeholder,
.submit-box textarea:-ms-input-placeholder {
    font-size: .875rem;
}

.submit-box input::-ms-input-placeholder,
.submit-box textarea::-ms-input-placeholder {
    font-size: .875rem;
}

.submit-box input::-webkit-input-placeholder, .submit-box textarea::-webkit-input-placeholder {
    font-size: .875rem;
}

.submit-box input::-moz-placeholder, .submit-box textarea::-moz-placeholder {
    font-size: .875rem;
}

.submit-box input:-ms-input-placeholder, .submit-box textarea:-ms-input-placeholder {
    font-size: .875rem;
}

.submit-box input::-ms-input-placeholder, .submit-box textarea::-ms-input-placeholder {
    font-size: .875rem;
}

/* 

class session 

*/

.content-class a{
    color: var(--blue-1);
    text-decoration: underline;
}

.content-class li {
    margin-left: 25px;
}

.content-class ul{
    list-style-type: initial;
}

.content-class ol{
    list-style-type: decimal;
}

.content-class ul li span, .content-class ol li span{
    text-indent: 500px;
}

.classDetail img{
    width: 25rem;
}

@media (min-width: 768px) {
    .classDetail img{
        width: 40rem;
    }
}

.request-class-form input,
.request-class-form textarea {
    padding: .375rem 1rem;
    border: 1.3px solid var(--black-3);
    border-radius: 6px;
    outline: none;
}

.request-class-form input::-webkit-input-placeholder {
    font-size: .875rem;
}

.request-class-form input::-moz-placeholder {
    font-size: .875rem;
}

.request-class-form input:-ms-input-placeholder {
    font-size: .875rem;
}

.request-class-form input::-ms-input-placeholder {
    font-size: .875rem;
}

.request-class-form input::placeholder {
    font-size: .875rem;
}

.request-class-form select {
    padding: .5rem 1rem;
    border: 1.5px solid var(--black-3);
    border-radius: 10px;
    outline: none;
}

.request-class-form input:focus,
.request-class-form select:focus,
.request-class-form textarea:focus {
    border: 1.5px solid var(--blue-1);
}

/* 

Bootcamp 

*/


.header-bootcamp {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: 5s;
    -o-transition: 5s;
    transition: 5s;
    animation: animate alternate-reverse 45s forwards infinite running ease-in-out;
}

@-webkit-keyframes animate {
    0% {
        background-image: url(../bootcamp/asset/heylagostechie-YgOCJz9uGMk-unsplash.png);
    }

    20% {
        background-image: url(../bootcamp/asset/le-wagon-0ECDm8h-4Hg-unsplash.png);
    }

    40% {
        background-image: url(../bootcamp/asset/le-wagon-ateSfr0d0yc-unsplash.png);
    }

    60% {
        background-image: url(../bootcamp/asset/le-wagon-ofeO3-rfaAo-unsplash.png);
    }

    80% {
        background-image: url(../bootcamp/asset/le-wagon-QyAAIKO-AzI-unsplash.png);
    }

    100% {
        background-image: url(../bootcamp/asset/le-wagon-XXMK5V_bbms-unsplash.png);
    }
}

@keyframes animate {
    0% {
        background-image: url(../bootcamp/asset/heylagostechie-YgOCJz9uGMk-unsplash.png);
    }

    20% {
        background-image: url(../bootcamp/asset/le-wagon-0ECDm8h-4Hg-unsplash.png);
    }

    40% {
        background-image: url(../bootcamp/asset/le-wagon-ateSfr0d0yc-unsplash.png);
    }

    60% {
        background-image: url(../bootcamp/asset/le-wagon-ofeO3-rfaAo-unsplash.png);
    }

    80% {
        background-image: url(../bootcamp/asset/le-wagon-QyAAIKO-AzI-unsplash.png);
    }

    100% {
        background-image: url(../bootcamp/asset/le-wagon-XXMK5V_bbms-unsplash.png);
    }
}

.header-bootcamp div {
    background-color: #000000a9;
    width: 100%;
}

.bootcamp-schedule tr td {
    padding: .5rem 0;
}

.bootcamp-schedule tr td:nth-child(1) {
    font-weight: 600;
}

.bootcamp-schedule tr td:nth-child(2) {
    padding-left: 5rem;
}

.reg-bootcamp-box input,
.reg-bootcamp-box textarea,
.reg-bootcamp-box select {
    padding: .375rem 1rem;
    border: 1.5px solid var(--black-3);
    border-radius: 10px;
    outline: none;
}

.reg-bootcamp-box input::-webkit-input-placeholder,
.reg-bootcamp-box textarea::-webkit-input-placeholder {
    font-size: .875rem;
}

.reg-bootcamp-box input::-moz-placeholder,
.reg-bootcamp-box textarea::-moz-placeholder {
    font-size: .875rem;
}

.reg-bootcamp-box input:-ms-input-placeholder,
.reg-bootcamp-box textarea:-ms-input-placeholder {
    font-size: .875rem;
}

.reg-bootcamp-boxx input::-ms-input-placeholder,
.reg-bootcamp-box textarea::-ms-input-placeholder {
    font-size: .875rem;
}

.reg-bootcamp-box input::-webkit-input-placeholder, .reg-bootcamp-box textarea::-webkit-input-placeholder {
    font-size: .875rem;
}

.reg-bootcamp-box input::-moz-placeholder, .reg-bootcamp-box textarea::-moz-placeholder {
    font-size: .875rem;
}

.reg-bootcamp-box input:-ms-input-placeholder, .reg-bootcamp-box textarea:-ms-input-placeholder {
    font-size: .875rem;
}

.reg-bootcamp-box input::-ms-input-placeholder, .reg-bootcamp-box textarea::-ms-input-placeholder {
    font-size: .875rem;
}

.reg-bootcamp-box input::placeholder,
.reg-bootcamp-box textarea::placeholder {
    font-size: .875rem;
}

.reg-bootcamp-box input:focus,
.reg-bootcamp-box textarea:focus,
.reg-bootcamp-box select:focus {
    border: 1.5px solid var(--blue-1);
}

@media (min-width: 320px) {
    .schedule-card{
        width: 25rem;
    }
}

@media (min-width: 768px) {
    .schedule-card{
        width: 43rem;
    }
}

@media (min-width: 1024px) {
    .schedule-card{
        width: 53rem;
    }
}


/* 

Career 

*/

.jobCategorybtn:focus{
    background-color: var(--blue-1);
    color: white;
    outline: none;
}

/* 

React sidebar minimal 

*/

.sidebar .side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-wrap .side-navigation-panel-select-option {
    border-left-width: 0 !important;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: .75rem 1rem !important;
    --tw-text-opacity: 1;
    color: rgba(55, 65, 81, var(--tw-text-opacity));
    width: 100%
}

.sidebar .side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-wrap .side-navigation-panel-select-option-selected {
    --tw-bg-opacity: 1;
    background-color: #e1e5ea !important;
    --tw-border-opacity: 1;
    border-color: #3b72ff !important;
    --tw-text-opacity: 1;
    color: rgba(31, 41, 55, var(--tw-text-opacity))
}

.sidebar .side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-wrap .side-navigation-panel-select-option .side-navigation-panel-select-option-wrap .side-navigation-panel-select-option-text {
    font-weight: 500;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.sidebar .side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-inner .side-navigation-panel-select-inner-wrap .side-navigation-panel-select-inner-option {
    border-left-width: 2px;
    cursor: pointer;
    display: block;
    font-size: .875rem;
    line-height: 1.25rem;
    padding: .5rem 2.5rem !important;
    --tw-text-opacity: 1;
    color: rgba(55, 65, 81, var(--tw-text-opacity))
}

.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-inner .side-navigation-panel-select-inner-wrap .side-navigation-panel-select-inner-option {
    border-left-width: 0 !important;
    cursor: pointer;
    display: block;
    font-size: .875rem;
    line-height: 1.25rem;
    padding: .5rem 4rem;
    --tw-text-opacity: 1;
    color: rgba(55, 65, 81, var(--tw-text-opacity))
}

.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-inner .side-navigation-panel-select-inner-wrap .side-navigation-panel-select-inner-option-selected {
    --tw-bg-opacity: 1;
    background-color: #e1e5ea !important;
    --tw-border-opacity: 1;
    border-color: rgba(236, 72, 153, var(--tw-border-opacity));
    --tw-text-opacity: 1;
    color: rgba(31, 41, 55, var(--tw-text-opacity))
}

.hover\:bg-gray-100:hover {
    --tw-bg-opacity: 1;
    background-color: #e1e5ea !important;
}