@font-face {
    font-family: montserrat;
    src: url(../asset/font/Montserrat-Regular.ttf);
}

* {
    font-family: montserrat;
    scroll-behavior: smooth;
}


/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #9CA3AF; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #FBBB00; 
    border-radius: 10px;
}

/* 

Root 

*/

:root{
    --blue-1: #3b72ff;
    --blue-2: #040505;
    --orange-1: #FBBB00;
    --orange-2: #fdefc5;
    --black-1: #3a3a3a;
    --black-2: #7a7a7a;
    --white-1: #fff;

    --red-1: #F44336;
    --green-1: #28B446;

    --dark-1: #0c131b;
    --dark-2: #222948;
}

/* 

CSS Customization 

*/

.color-blue-1{
    color: var(--blue-1);
}

.color-red-1{
    color: var(--red-1);
}

.color-orange-1{
    color: var(--orange-1);
}

.color-black-1{
    color: var(--black-1);
}

.color-green-1{
    color: var(--green-1);
}

.bg-white-1{
    background-color: var(--white-1);
}

.bg-blue-1{
    background-color: var(--blue-1);
}

.bg-orange-1{
    background-color: var(--orange-1);
}

.bg-orange-2{
    background-color: var(--orange-2);
}

.bg-green-1{
    background-color: var(--green-1);
}

        /* 

        Secondary Color 

        */

        .color-black-2{
            color: var(--black-2);
        }

        .bg-black-2{
            background-color: var(--black-2);
        }

        .bg-green-1-10{
            background-color: rgba(40, 180, 70, 0.1);
        }

        .bg-red-1-10{
            background-color: rgba(244, 67, 54, 0.1)
        }

        .bg-blue-1-10{
            background-color: rgba(59, 114, 255, 0.1)
        }

        .bg-blue-2{
            background-color: #ebf0ff;
        }

        .bg-blue-3{
            background-color: #abc2fc;
        }

        .bg-red-1{
            background-color: var(--red-1);
        }

        .bg-brown-1-10{
            background-color: rgba(189, 147, 84, 0.1)
        }

        .bg-orange-1-10{
            background-color: rgba(251, 187, 0, 0.1)
        }

        .bg-black-2-10{
            background-color: rgba(122, 122, 122, 0.822);
        }

        .bg-dark-1{
            background-color: var(--dark-2);
        }

.shadow-black{
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.border-left-orange-1{
    border-left: 5px solid var(--orange-1);
}

/* 

Accessories 

*/

.minor{
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.underline_anim::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #3b72ff;
    transition: width .3s;
}

.underline_anim:hover::after{
    width: 100%;
    transition: width .3s;
}

#darkMode {
    background: transparent url("../asset/icon/moon.svg") no-repeat center;
    background-size: 30px 30px;
    width: 45px;
    height: 45px;
    filter: grayscale(100%);
    border: none;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.tab-header li{
    padding: .5rem 1rem;
    background-color: white;
    border-radius: .5rem;
    cursor: pointer;
}

.tab-header li.active{
    background-color: var(--blue-1);
    color: white;
    padding: .5rem 1rem;
    border-radius: .5rem;
}

/* 

Navbar 

*/

.navbar_active, .logo:hover {
    color: #3b72ff;
}

.navbar p:hover, .help:hover{
    color: #3b72ff;
}

.navbar-mobile p{
    padding: 8px 12px;
}

.navbar-mobile p:hover{
    background-color: #3b72ff;
    color: white;
    border-radius: .75rem;
}

.dropdown-tutorial-box p:hover{
    color: #3b72ff;
}

.dropdown-tutorial-box p:not(:first-child){
    font-size: .875rem;
    margin: .5rem 0
}

.course:hover .course-box {display: flex;}

.login:hover{
    background-color: #0250bd;
    transition: 200ms;
}

/* 

Login page, Register Page 

*/

.login-box input, .register-box input{
    width: 15rem;
    padding: .375rem 1rem;
    border: 1.6px solid var(--blue-1);
    border-radius: 5px;
    outline: none;
    color: var(--black-2);
}

.login-box input::placeholder, .register-box input::placeholder{
    color: var(--black-2);
    font-size: .875rem;
}

@media screen and (min-width: 440px){
    .login-box input, .register-box input{
        width: 20rem;
    }
}

@media screen and (min-width: 768px){
    .login-box input, .register-box input{
        width: 25rem;
    }
}

.password-hint-box{
    display: none;
}

.info:hover + .password-hint-box{
    display: block;
}

/* 

Homepage 

*/

.headerheader{
    background-image: url(../asset/photo/homepage/feature/Rectangle\ 104.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -100;
}

.change-text-anim{
    width: 500px;
}

.change-text-anim::before{
    content: "";
    animation: changeTextAnim infinite 17.5s;
}

@keyframes changeTextAnim{
    0%{
        content: "Gain invaluable skills for your future career in software development";
    }
    14.5%{
        content: "Beautiful, well-designed courses that interactively teach you the basics and beyond";
    }
    29%{
        content: "Learn the value of sharing knowledge and experiences among peers";
    }
    43.5%{
        content: "Keep up with the latest app development tools and technology";
    }
    58%{
        content: "If you are looking to kickstart your career, why not get ahead of the curve? Share your work with us and we’ll do the rest";
    }
    72.5%{
        content: "Learning to code is more fun if you choose what you want to learn and make it interesting";
    }
    87%{
        content: "Learn new skills through the certificate program and by meeting others who are training with you";
    }
    100%{
        content: "Gain invaluable skills for your future career in software development";
    }
}

.discord{
    background-image: url(../asset/photo/homepage/feature/Rectangle\ 103.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* 

Payment 

*/

.payment-table tr td{
    padding: .7rem 4rem;
}

.payment-table tr td:first-child{
    width: 500px;
}

.payment-table tr td:nth-child(2){
    font-weight: 600;
}

.payment-confirm-container, .register-popup-container{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
}

.payment-confirm-box, .register-popup-box{
    width: 500px;
    margin: 15% auto;
    background-color: white;
}

.register-popup-box{
    animation: cssAnimation 300ms ease forwards;
}


@keyframes cssAnimation {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

/* 

Roadmap 

*/

.roadmap-box p{
    width: 300px;
    padding: 25px 0;
    border-radius: .75rem;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.roadmap-box p:hover{
    color: white;
    background-color: #3b72ff;
    transition: 200ms;
}

.roadmap{
    border: 2rem solid white;
    border-radius: 1.5rem;
}

.swiper-button-prev-container, .swiper-button-next-container{
    background-color: #FBBB00;
    color: white;
    border-radius: 50%;
}

.swiper-button-prev-container:hover, .swiper-button-next-container:hover{
    border: 1px solid #0250bd;
    background-color: #0250bd;
}

.swiper-button-next{
    z-index: 10;
    position: fixed;
    top: 50%;
    right: 5%;
    transform: translate(-5%, -50%);
}

.swiper-button-prev{
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 5%;
    transform: translate(-5%, -50%);
}

/* 

Pricing 

*/

.information p{
    width: 500px;
}

/* 

Tutorial 

*/

#sidebarmobile {
    width: 250px;
    position: fixed;
    height: 100%;
    top: 0;
    left: -250px;
    transition: left 0.3s ease;
    z-index: 20;
}

#sidebarmobile p{
    padding: 6px;
    border-radius: 10px;
}


#sidebarmobile p:hover{
    background-color: #3b72ff;
    color: white;
}

#sidebarmobile.visible {
    left: 0;
    transition: left 0.3s ease;
}

#sidebarbtn{
    cursor: pointer;
    margin: 20px;
    position: absolute;
    right: -60px;
    top: 50%;
    background-color: var(--orange-1);
    color: white;
    border-radius: 100%;
    padding: 4px;
}

iframe{
    width: 360px;
    height: 200px;
}

@media screen and (min-width: 560px) {
    iframe{
        width: 660px;
        height: 350px;
    }
}

.tutorial-box{
    width: 300px;
}

.swiper-pagination::-webkit-scrollbar {
    height: 5px;
}

.swiper-pagination p{
    cursor: pointer;
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #3b72ff;
    border-radius: .5rem;
    padding: .5rem 1rem;
}

.textarea {
    padding: 1rem;
    border: 2px solid var(--black-2);
    background-color: white;
    border-radius: 5px;
    outline: none;
    color: var(--black-1);
    display: block;
    width: 100%;
    overflow: hidden;
    min-height: 120px;
    line-height: 20px;
}
  
.textarea[contenteditable]:empty::before {
    content: "Add a discussion";
    color: gray;
}

.textarea:focus{
    border: 2px solid var(--blue-1);
}

/* 

Challenge 

*/

.certificate-box div{
    padding: 1.25rem;
    border-radius: 0.75rem;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.certificate-box div:hover{
    transform: scale(1.05);
    background-color: #3b72ff;
    color: white;
}

.challenge-box{
    width: 21rem;
}

.submit-box input, .submit-box textarea{
    padding: .375rem 1rem;
    border: 1.6px solid var(--black-2);
    border-radius: 10px;
    outline: none;
}

.submit-box input::placeholder, .submit-box textarea::placeholder{
    font-size: .875rem;
}

.submit-box input:focus, .submit-box textarea:focus{
    border: 1.6px solid var(--blue-1);
}

/* 

class session 

*/


.request-class-container input{
    padding: .375rem 1rem;
    border: 1.6px solid var(--black-2);
    border-radius: 10px;
    outline: none;
}

.request-class-container input::placeholder{
    font-size: .875rem;
}

.request-class-container select{
    padding: .5rem 1rem;
    border: 1.6px solid var(--black-2);
    border-radius: 10px;
    outline: none;
}

.request-class-container input:focus, .request-class-container select:focus{
    border: 1.6px solid var(--blue-1);
}

/* 

Bootcamp 

*/


.header-bootcamp{
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 5s;
    animation: animate alternate-reverse 45s forwards infinite running ease-in-out;
}

@keyframes animate {
    0%{
        background-image: url(../bootcamp/asset/heylagostechie-YgOCJz9uGMk-unsplash.png);
    }
    20%{
        background-image: url(../bootcamp/asset/le-wagon-0ECDm8h-4Hg-unsplash.png);
    }
    40%{
        background-image: url(../bootcamp/asset/le-wagon-ateSfr0d0yc-unsplash.png);
    }
    60%{
        background-image: url(../bootcamp/asset/le-wagon-ofeO3-rfaAo-unsplash.png);
    }
    80%{
        background-image: url(../bootcamp/asset/le-wagon-QyAAIKO-AzI-unsplash.png);
    }
    100%{
        background-image: url(../bootcamp/asset/le-wagon-XXMK5V_bbms-unsplash.png);
    }
}

.header-bootcamp div{
    background-color: #000000a9;
    width: 100%;
}

.bootcamp-schedule tr td{
    padding: .5rem 0;
}

.bootcamp-schedule tr td:nth-child(1){
    font-weight: 600;
}

.bootcamp-schedule tr td:nth-child(2){
    padding-left: 5rem;
}