<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="width: 600px; margin: 0 auto; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
        <div style="background-color: #f0f1f3; text-align: center; padding: .75rem;">
            <img src="cid:logo@cid" width="25">
        </div>
        <div style="font-size: 1.05rem; text-align: center;">
            <p style="font-weight: 600; font-size: 1.25rem;">Reset Password</p>
            <p>Click the button below to change your old password.</p>
            <a href={"http://localhost:3000/forgotPassword/" + hash}>button</a>
            <div style="padding: 3rem;">
                <a href="http://localhost:3000/" style="background-color: #3b72ff; color: white; text-decoration: none; padding: .325rem 1.5rem .6rem 1.5rem; border-radius: 4px;">Reset Password</a>
            </div>
            <div style="padding: 3rem;">
                <p style="text-align: center; color: #9CA3AF; font-size: .875rem;">Jakarta, Indonesia</p>
            </div>
        </div>
    </div>
</body>
</html>